# fly.toml app configuration file generated for sjedule-api on 2026-01-30T21:00:11+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'sjedule-api'
primary_region = 'ams'

[build]
  dockerfile = 'Dockerfile'

[env]
  DB_PATH = '/data/app.db'
  PORT = '8080'

[[mounts]]
  source = 'plannerapp_data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
